.w-form-formrecaptcha {
  margin-bottom: 8px;
}

body {
  font-family: 'Josefin Slab', sans-serif;
  color: #111;
  font-size: 20px;
  line-height: 25px;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 4em;
  line-height: 1;
  font-weight: 700;
}

h2 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2.2em;
  line-height: 1;
  font-weight: 700;
}

a {
  color: hsla(157.6271186440678, 26.46%, 56.27%, 1.00);
  font-weight: 600;
  text-decoration: underline;
}

.section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 150px 10px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.section.top {
  position: relative;
  padding: 10px;
  background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(157.6271186440678, 26.46%, 56.27%, 0.25)), to(#d6d9ba)), url('../images/alaska-67164_1920-min.jpg');
  background-image: linear-gradient(180deg, hsla(157.6271186440678, 26.46%, 56.27%, 0.25), #d6d9ba), url('../images/alaska-67164_1920-min.jpg');
  background-position: 0px 0px, 50% 50%;
  background-size: auto, cover;
  background-repeat: repeat, no-repeat;
}

.opening-header {
  color: #121212;
  font-size: 4.8em;
  text-align: center;
}

.mobile-menu-link {
  position: relative;
  z-index: 10;
  color: #fff;
  font-size: 5vw;
  line-height: 6vw;
  text-decoration: none;
}

.close-mobile-menu-button {
  position: relative;
  z-index: 10;
  margin-right: 2.5px;
  margin-bottom: 30px;
  color: #fff;
  cursor: pointer;
}

.burger-line {
  width: 20px;
  height: 3px;
  margin-top: 1.5px;
  margin-bottom: 1.5px;
  border-radius: 2px;
  background-image: -webkit-gradient(linear, left top, right top, from(#d8d12e), to(#e2720a));
  background-image: linear-gradient(90deg, #d8d12e, #e2720a);
}

.global-nav-logo {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 142px;
  height: 142px;
  margin: 0px 10px -60px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 10px 28px -2px rgba(0, 0, 0, .23), inset 0 -1px 0 0 hsla(0, 0%, 100%, .19);
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.global-nav-wrapper {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  z-index: 888;
}

.mobile-menu {
  position: fixed;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  z-index: 9999;
  display: none;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  padding: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
  -ms-flex-align: end;
  align-items: flex-end;
}

.global-nav-link-text {
  position: relative;
  z-index: 10;
  font-size: 1em;
  line-height: 1;
}

.hamburger-button {
  display: none;
  width: 40px;
  height: 40px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  cursor: pointer;
}

.nav-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 960px;
  max-width: 100%;
  margin-right: auto;
  margin-left: auto;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.global-nav-link {
  position: relative;
  overflow: hidden;
  min-width: 100px;
  margin-right: 10px;
  margin-left: 10px;
  padding: 10px;
  border-radius: 3px;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  color: #472d38;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  text-transform: uppercase;
}

.global-nav-link:hover {
  color: hsla(157.6271186440678, 26.46%, 56.27%, 1.00);
}

.global-nav-clear {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 20px;
  padding-left: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 32px 0 rgba(0, 0, 0, .31);
}

.mobile-menu-background {
  position: absolute;
  top: 0px;
  right: 0px;
  width: 5vw;
  height: 5vw;
  border-bottom-left-radius: 100%;
  background-image: linear-gradient(45deg, #d8d12e, #e2720a);
}

.opening-text {
  max-width: 650px;
  color: #121212;
  font-size: 1.3em;
  line-height: 1.2;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}

.section-card {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  max-width: 800px;
  padding: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 1px 32px 0 rgba(0, 0, 0, .31);
}

.button {
  margin-right: auto;
  margin-left: auto;
  background-color: #e6af83;
  font-family: 'Amatic SC', sans-serif;
  color: #fff;
  font-size: 1.5em;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

.body {
  background-color: #d6d9ba;
}

.bio-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 30px;
}

.about-us-container {
  margin-top: 25px;
}

.section-text-wrapper {
  margin-top: 10px;
  margin-bottom: 10px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-image-wrapper {
  margin-right: 15px;
  -webkit-box-flex: 0;
  -webkit-flex: 0 33%;
  -ms-flex: 0 33%;
  flex: 0 33%;
}

.bio-image {
  border-style: solid;
  border-width: 6px;
  border-color: #121212;
  border-radius: 50%;
}

.bio-text-container {
  padding-left: 20px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.bio-image-container {
  -webkit-box-flex: 0;
  -webkit-flex: 0 21%;
  -ms-flex: 0 21%;
  flex: 0 21%;
}

.top-footer-container {
  position: absolute;
  left: 0%;
  top: auto;
  right: 0%;
  bottom: 21px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  text-align: center;
}

.top-footer-item {
  padding-right: 21px;
  padding-left: 21px;
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.section-card-title {
  text-align: center;
}

.modal-closer {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 99999;
  display: none;
  width: 30px;
  height: 30px;
  padding: 3px;
  -webkit-transition: -webkit-transform 200ms ease-in-out;
  transition: -webkit-transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out;
  transition: transform 200ms ease-in-out, -webkit-transform 200ms ease-in-out;
  cursor: pointer;
}

.modal-closer:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}

.modal-title {
  margin-bottom: 10px;
  font-family: 'Amatic SC', sans-serif;
  font-size: 2em;
  line-height: 1;
  font-weight: 700;
  text-align: center;
  letter-spacing: 0px;
}

.section-image {
  width: 100%;
  border: 6px solid #000;
}

.tingle-content {
  display: none;
}

.tingle-content.tingle-1 {
  display: none;
}

.center-text {
  text-align: center;
}

.merch-button {
  margin-top: 15px;
  margin-bottom: 15px;
}

.success-message {
  background-color: hsla(157.6271186440678, 26.46%, 56.27%, 1.00);
}

.success-text {
  color: #fff;
}

.error-message {
  background-color: hsla(8.205128205128206, 55.98%, 59.02%, 1.00);
}

.error-text {
  color: #fff;
  font-size: 0.9em;
  line-height: 1.8;
  text-align: center;
}

@media (max-width: 991px) {
  .section.top {
    min-height: 100vh;
  }
  .mobile-menu-link {
    margin-top: 5px;
    margin-bottom: 5px;
    font-family: 'Amatic SC', sans-serif;
    color: #472d38;
    font-size: 8vw;
    line-height: 8vw;
    font-weight: 700;
  }
  .close-mobile-menu-button {
    font-family: 'Amatic SC', sans-serif;
    color: hsla(8.205128205128206, 55.98%, 59.02%, 1.00);
    font-size: 2em;
    font-weight: 700;
  }
  .burger-line {
    height: 4px;
    background-color: #121212;
    background-image: none;
  }
  .global-nav-logo {
    width: 100px;
    height: 100px;
    margin-top: 5px;
    margin-bottom: -20px;
  }
  .mobile-menu {
    display: none;
  }
  .hamburger-button {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 75px;
    height: 60px;
  }
  .nav-container {
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
  }
  .global-nav-clear {
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
  .mobile-menu-background {
    top: -10px;
    right: -10px;
    width: 1vw;
    height: 1vw;
    background-image: linear-gradient(42deg, #d6d9ba 42%, #e6af83);
  }
  .tingle-content {
    display: none;
  }
}

@media (max-width: 767px) {
  h2 {
    font-size: 2em;
  }
  .section {
    padding-right: 10px;
    padding-left: 10px;
  }
  .section.top {
    min-height: 120vh;
  }
  .opening-header {
    font-size: 3.6em;
  }
  .mobile-menu-link {
    font-size: 11vw;
    line-height: 11vw;
  }
  .opening-text {
    font-size: 0.9em;
  }
  .section-card {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .button {
    font-size: 1.5em;
  }
  .section-text-wrapper {
    -webkit-box-flex: 0;
    -webkit-flex: 0 auto;
    -ms-flex: 0 auto;
    flex: 0 auto;
    text-align: center;
  }
  .section-image-wrapper {
    margin-right: 0px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }
  .top-footer-container {
    display: none;
  }
}

@media (max-width: 479px) {
  .section.top {
    min-height: 90vh;
  }
  .opening-header {
    font-size: 2.1em;
  }
  .mobile-menu-link {
    font-size: 16vw;
    line-height: 17vw;
  }
  .bio-container {
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .bio-image {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
  }
  .bio-image-container {
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }
  .top-footer-item {
    margin-bottom: 15px;
    -webkit-box-flex: 0;
    -webkit-flex: 0 100%;
    -ms-flex: 0 100%;
    flex: 0 100%;
  }
}

